__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.example
*.joblib
*.metadata.json
data/raw/*
data/interim/*
data/processed/*
!data/**/.gitkeep
dataset/
.pytest_cache/
.ipynb_checkpoints/
logs/
